# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Logs
logs/
*.log

# Local data/cache
.cache/
*.sqlite
*.db

# MyPy
.mypy_cache/
.dmypy.json

# Pyenv
.python-version
